crewai==0.22.5
crewai-tools==0.0.15
langchain-huggingface
langchain_community
load_dotenv
arxiv
wikipedia
langchain-google-genai
faiss-cpu
streamlit
google-generativeai
python-dotenv
pdf2image
pymupdf
langchain-groq
python-dotenv
pdf2image
pypdf